<!DOCTYPE html>
<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>
    <title>Skate Shoe Mate | Messages</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="messages.js" defer></script>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <h1 class="header-title">
                    <a style="font-size: 4rem" class="title" href="index.html">SKATE SHOE MATE</a>
                </h1>
                <li><a href="index.html">HOME</a></li>
                <li><a href="store" id="storeRef">STORE</a></li>
                <li><a href="account.html" id="accountRef" style="display: none">MY ACCOUNT</a></li>

            </ul>
        </nav>
    </header>
    <!-- <div id = "username"></div> -->
    <section class="border container content-section">
        <div id = "mFeed">
            <h2 class="section-header">Messages</h2>
            <% for (const message in messages) { %>
                <% if((messages[message].userRecieve==username && messages[message].userSend==theirUsername)) { %>
                    <div class="fromMSG" data-item-id="<%= messages[message].docID %>">
                        <span class="msg-container">
                            <%- "<span class='ToFrom'>From " + messages[message].userSend + ": to " +
                                messages[message].userRecieve + " </span><span class='main-message'>" + 
                                    messages[message].message                    
                                    + "</span><span class=' DateTime'>(Date: " + messages[message].date+ ")</span>" %>
                        </span>
                    </div>
                    <% } %>
                        <% if((messages[message].userRecieve==theirUsername && messages[message].userSend==username)){
                            %>
                            <div class="toMSG" data-item-id="<%= messages[message].docID %>">
                                <span class="msg-container">
                                    <%- "<span class='ToFrom'>From " + messages[message].userSend + ": to " +
                                        messages[message].userRecieve + " </span><span class='main-message'>" +
                                        messages[message].message + "</span><span class='DateTime'>(Date: " +
                                        messages[message].date + ")</span>" %>
                                </span>
                            </div>

                            <% } %>
                <% } %>
        </div>
    </section>
    <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>

    <section class="container content-section">
        <div class="cart-row">
            <span id="testTheirs" class="shop-item-price">
                <%= "To " + theirUsername %>
            </span>
            <input type="text" id="message" onclick="makeClean(document.getElementById('message'))" name="Message"
                class="requiredMessageInput"
                style="width: 50%; height: 35px; border: 1px solid black; color: black;"><br><br>
            <button style="margin-left: 5px;" onclick="messageUser()" class="btn btn-primary" value="Send Message">SEND
                MESSAGE</button>
        </div>
        <br><br>
        <button onclick="initExchange()" class="btn btn-primary" style="padding: 3%;">
            <%- "INITIATE AN EXCHANGE REQUEST WITH " + theirUsername %>
        </button>

        <div class="cart-items">

        </div>

    </section>


</body>

</html>