<!DOCTYPE html>
<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>
    <title>Skate Shoe Mate | Store</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="store.js" defer></script>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="store">STORE</a></li>
                <li><a href="account.html" id="accountRef">MY ACCOUNT</a></li>
                <li><a href="post.html" id="postRef">NEW POST</a></li>
            </ul>
        </nav>
        <h1 class="band-name band-name-large">SKATE SHOE MATE</h1>
    </header>
    <section class="container content-section">
        <h2 class="section-header">Shoe Listings</h2>
        <div class="shop-items">
            <% for (const item in items) { %>
                <div class="shop-item" data-item-id="<%= items[item].docID %>">
                    <span class="shop-item-title">
                        <%- items[item].brand + " size " + items[item].size +  " | " + items[item].username %>
                    </span>
                    <img class="shop-item-image" src="<%= items[item].imageURL %>">
                    <div class="shop-item-details">
                        <%- "Stance: " + items[item].stance + "<br>  Quality: " + items[item].quality %>
                            <br><br>
                    </div>
                    <span class="shop-item-price">
                        $<%= items[item].price / 100 %>
                    </span>
                    <br><br>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                     <button onclick = "test()" type="button">Message this seller</button>
                </div>
                <% } %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column"></span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">CHECKOUT</button>
    </section>
</body>

</html>