<!DOCTYPE html>
<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>
    <title>Skate Shoe Mate | Store</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
        var username = '<%= username %>'
    </script>
    <script src="store.js" defer></script>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <h1 class="header-title">
                    <a style="font-size: 4rem" class="title" href="index.html">SKATE SHOE MATE</a>
                </h1>
                <li><a href="index.html">HOME</a></li>
                <li><a href="store" id='storeRef'>STORE</a></li>
                <li><a href="account.html" id="accountRef" style="display: none">MY ACCOUNT</a></li>
                <!-- <li><a href="post.html" id="postRef">NEW POST</a></li> -->
            </ul>
        </nav>
    </header>
    <br>
    <section class="container content-section">
        <div style="padding: 5px;" class="shadow border">
            <input type="text" placeholder="Search by keyword..">
            <br> <br>
            Filters<br>
            <select name="stanceCategory" id="stanceFilters">
                <option>Stance</option>
                <option></option>
                <option value="goofy">GOOFY</option>
                <option value="regular">REGULAR</option>
            </select>
            <select name="sizeCategory" id="sizeFilters">
                <option>Size</option>
                <option></option>
                <option value="size9">9</option>
                <option value="size95">9.5</option>
                <option value="size10">10</option>
                <option value="size105">10.5</option>
            </select>
            <select name="qualityCategory" id="qualityFilters">
                <option>Quality</option>
                <option></option>
                <option value="quality">Perfect</option>
                <option value="quality">Good</option>
                <option value="quality">Fair</option>
                <option value="quality">Poor</option>
            </select>
            <select name="priceCategory" id="priceFilters">
                <option>Price</option>
                <option></option>
                <option value="quality">Less than $10</option>
                <option value="quality">Between $10 and $20</option>
                <option value="quality">More than $20</option>
            </select>
            <br><br>
            <button onclick="applyFilters()" id="applyFilters">Apply filters</button>

        </div>
        <h2 class="section-header">
            <div>Shoe Listings</div>
            <button style="width:30%" id="newPost" type="button" class="btn-primary">Post New Shoe</button>
            <script type="text/javascript">
                document.getElementById("newPost").onclick = function () {
                    location.href = "/post.html";
                };
            </script>
        </h2>

        <div class="shop-container">
            <% for (const item in items) { %>
                <div class="shop-item shadow" data-item-id="<%= items[item].docID %>">
                    <span class="shop-item-title">
                        <%- items[item].brand + " size " + items[item].size + " | " + items[item].username %>
                    </span>
                    <img class="shop-item-image" src="<%= items[item].imageURL %>">
                    <div class="shop-item-details">
                        <%- "Stance: " + items[item].stance + "<br>  Quality: " + items[item].quality %>
                            <br><br>
                    </div>
                    <span class="shop-item-price">
                        $<%= items[item].price / 100 %>
                    </span>
                    <br><br>
                    <span class="shop-item-details">
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>

                        <% if(username !=items[item].username){ %>
                            <%- "<button onclick = " + "test('"
                                +items[item].username+ "') type='button'>Message this seller</button>" %>
                                <button class="btn-primary" onclick="ratingFunction()" type="button">Rate This
                                    User</button>
                                <% } %>
                    </span>

                    <!-- <script>
                        function ratingFunction(){
                            let test = prompt("Please Add a Comment About this User: ", "")
                            let text = "";

                            text = test;

                            let test2 = prompt("Thank you for your feedback! This is what you wrote, are you sure you want to send?", text)


                        }
                    </script> -->

                    <!-- <button onclick = "test(items[item].username)" type="button">Message this seller</button> -->
                </div>
                <% } %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column"></span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">CHECKOUT</button>
    </section>
</body>

</html>